.main{
  display: grid;
  justify-items: center;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid rgb(135, 135, 135);
  border-radius: 15px;
  box-shadow: 5px 5px 20px 5px #888888;

  margin-top: 50px;
  margin-bottom: 50px;
  background-color: azure;
  padding: 40px;
}

.first{
  input{
    border: 1px solid rgb(135, 135, 135);
    border-radius: 7px;
    margin: 10px;
    height: 30px;
    padding: 5px;
  }

  .submit{
    height: 30px;
    width: 100px;
    background-color: aqua;
    padding: 5px;
  }
}





p{
  margin:0px;
}

.myName{
  font-size: 16px;
  font-weight: 700;
}

.mydetails{
  font-size: 14px;
}

.date{
  font-size: 16px;
}
.signature{
  font-size: 16px;
}

.dear{
  font-size: 14px;
  padding-bottom: 5px;
}

.smallfont{
  font-size: 14px;
}

.name{
  font-size: 14px;
}
