<div class="main">
  <div class="first">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

      <input type="text"  placeholder="Company Name" formControlName="cname">
      <input type="text"  placeholder="Company Location" formControlName="location">
      <input type="text"  placeholder="Position" formControlName="position">
      <input type="submit" value="Submit" class="submit">
    </form>
  </div>
  <br>
  <br>
  <div class="second">
    <p class="myName">Md. Al Mahmud Imran</p>
    <p class="mydetails">
      Mirpur 1 <br>
  Dhaka, Bangladesh <br>
  (+880)1759535502 <br>
  md.almahmudimran@gmail.com
    </p>

    <br>
    <p class="date">{{date}}</p>

    <br>
    <p class="signature">Recruiter, {{form.value.cname}}</p>
    <p class="signature">{{form.value.location}}</p>
    <br>
    <p class="signature">RE: {{form.value.position}}</p>
    <br>
    <p class="dear">Dear Recruiter,</p>

    <p class="mydetails">After learning of the {{form.value.position}} opening with {{form.value.cname}}, I am attaching my resume in consideration for this role. I graduated from Daffodil International University with a B.Sc. in CSE in Computer Science and Engineering. I have researched and learned a great deal about your organization's mission, and I am confident that my background and attributes will further support your company's values.</p>
    <br>
    <p class="smallfont">My previous experience working as a junior software engineer for Softlab gave me software development experience. I have worked on various types of projects. My expertise in creating APIs makes me a great addition to your team.</p>
    <br>
    <p class="smallfont">Please review my attached resume for more details.</p>
    <br>
    <p class="smallfont">I am very interested in this opportunity. I look forward to a personal meeting during which we can discuss this in greater detail.</p>
    <br>
    <p class="smallfont">Thank you for your time and consideration.</p>
    <br>
    <p class="signature">Sincerely,</p>
    <br>
    <p class="name">Md. Al Mahmud Imran</p>
  </div>

</div>
